<!--<a href="https://www.freepik.com/vectors/people">People vector created by storyset - www.freepik.com</a>-->

<div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?t=st=1648803594~exp=1648804194~hmac=93d609a600f6b17d2befa92dd6e943557d4f438a88efa2dbcb3dc0dfd7b51eaa&w=740" class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <h2 class="h1 display-1">{{status}}</h2>
            <p class="h3">{{message}}</p>
            <br>
            <a type="button" href="/questions/" class="btn btn-primary btn-block">Go Home</a>
        </div>
    </div>
</div>
